ion-list{
    padding: 0px 0px 0px 0px !important;
    p{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    ion-label{
        margin-left: 8px;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 12px;
    }
    .title{
        font-size: 14px !important;
        --color: var(--ion-color-dark) !important;
        --padding-start: 16px;
        --padding-top: 6px;
        --padding-bottom: 6px;
        --min-height: 28px;
        ion-icon{
            font-size: 16px;
            padding-right: 10px;
        }
    }
    .ls{
        font-size: 13px !important;
        --color: var(--ion-color-dark) !important;
        --padding-start: 12px;
        --min-height: 38px;
        ion-icon{
            font-size: 16px;
            padding-right: 10px;
        }

        audio{
            width: 100%;
            height: 50px;
        }
    }
}