<ion-list lines="none">
  <ion-item class="title" color="light" detail="false" lines="none">
    <ion-label>
      <p class="ttl">{{surah}}</p>
    </ion-label>
  </ion-item>
  <ion-item class="ls" color="light">
    <ion-label class="ion-text-wrap">
      <p class="txt" [innerHtml]="txt" style="white-space: pre-line;"></p>
      <p class="wr"></p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light" (click)="closeModal()">
    <ion-icon name="chevron-down"></ion-icon>
  </ion-fab-button>
</ion-fab>