/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

div.swiper-pagination {
    top: calc(100% - 37px);
    bottom:inherit;
    padding-right: 35px;
    text-align: right;
}

.searchbarinput{
    input{
        font-size: 14px !important;
    }
}

.padding-def{
    padding: 8px 16px 0px 16px !important;
}

.padding-def-0{
    padding: 0px 16px 0px 16px !important;
}

.my-custom-class .popover-content {
    position: absolute;
    right: 0;
    top: 0;
  }

.modal-250px .modal-wrapper{
    height: 300px;
    position: absolute;
    bottom:0px;
    border-radius: 28px 28px 0px 0px;
}

.modal-audio .modal-wrapper{
    height: 144px;
    position: absolute;
    bottom:0px;
    // border-radius: 24px 24px 0px 0px;
}

.modal-tafsir .modal-wrapper{
    height: 100%;
    position: absolute;
    bottom:0px;
    border-radius: 14px 14px 0px 0px;
}

.popo .popover-content {
    --width: 215px;
  }

.w-100{
    width: 100% !important;
}