<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>
      Uiniqu
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" class="ion-padding-end">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="/assets/img/def_profile.png" alt="profil">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-slides #bannerSlides pager="true" id="banner">
    <ion-slide class="padding-def">
      <img src="/assets/img/q1.jpg" alt="q1">
    </ion-slide>
    <ion-slide class="padding-def">
      <img src="/assets/img/q2.jpg" alt="q1">
    </ion-slide>
    <ion-slide class="padding-def">
      <img src="/assets/img/q3.jpg" alt="q1">
    </ion-slide>
  </ion-slides>

  <ion-item color="transparent" lines="none" class="ion-no-padding padding-def" id="nav-menu">
    <ion-segment value="0" mode="ios" (ionChange)="navSlide($event.target.value)" scrollable>
      <ion-segment-button value="0">
        Tadarus
      </ion-segment-button>
      <ion-segment-button value="1">
        Tahfidz
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  
  <div class="padding-def-0" id="menu">
    <ion-slides #menuSlides class="swiper-no-swiping">
      <ion-slide>
        <ion-list class="ion-no-padding">
          <ion-list-header class="ion-no-padding" color="light">
            <ion-searchbar placeholder="Cari nama atau nomor surat" (ionInput)="search($event.target.value)" class="ion-text-left ion-no-padding ion-no-margin searchbarinput" #ic mode="ios"></ion-searchbar>
          </ion-list-header>
          <ion-item (click)="openSurah(sr.nomor);" color="light" class="ion-no-padding ion-no-margin" button lines="none" *ngFor="let sr of surah">
            <ion-avatar slot="start">
              {{sr.nomor}}
            </ion-avatar>
            <ion-label>
              <p>
                <span *ngIf="sr.type == 'mekah' else es">Makkiyah</span> 
                • {{sr.ayat}} Ayat
                <ng-template #es>
                  <span>Madaniyah</span>
                </ng-template>
              </p>
              <h2>{{sr.nama}}</h2>
            </ion-label>
            <ion-buttons item-right slot="end">
              <ion-button (click)="play(sr.nomor); $event.stopPropagation();" shape="round">
                <ion-icon name="headset-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="tafsir(sr.nomor); $event.stopPropagation();" shape="round">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
